
              *{
            padding: 0;
            margin: 0;
            font-family: sans-serif;
            text-align: right;
        }
        body{
            background-image:linear-gradient(rgba(0, 0, 0, 0.20) , rgba(0, 0, 0, 0.50) )  ,  url(11.jpg) ;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            height: 100vh;
            width: 100%;



            @media (min-width: 576px)
    
        }
   
        .manubar{
            background-color: rgba(0, 100, 0, 0);
            text-align: center;
            
            
        }

        .menubar ul{
            display: inline-flex;
            list-style:none;
            color: #fff;
            width: 75%;
            background-color: red;
            margin: 0px;
            padding: 0px;
            

        }
        .menubar ul li{
            width:150px;
            margin-right:5px;
            padding: 15px;
            text-decoration: none;
            text-align: center;
            font-size: 25px;
            color: salmon;
            margin-right: 20px;
            border-radius: 15px;
            
    

        }
        .menubar ul li a{
            text-decoration: none;
            margin-right: 5px;
            position: relative;
            left: 300px;
        }
        .menubar ul li :hover
        {
                background-color: #eeea09;
                border-radius: 10px;
                color: springgreen;
        }